@import url('https://fonts.googleapis.com/css?family=Monoton|Nova+Mono');
@import 'variables';

@import 'element-custom';
@import 'bootstrap-custom';
@import '~bootstrap/scss/bootstrap';

html,
body,
.el-container {
  height: 100%;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
  background: $main-background;
  overflow: hidden;
}

.el-header,
.el-main {
  padding: 0px 0px;
  margin: 0px 0px;
}

.el-header {
  background: $item-background;
  border-bottom: $item-border;
  overflow: hidden;
  padding: 5px;
}

.container-fluid {
  padding-top: 15px;
}

.el-aside {
  border-right: $item-border !important;
  background: $item-background;
  overflow-x: hidden;
}

.brand-name {
  font-family: $brand-font-family;
  font-size: 1.8em;
  cursor: pointer;
}

.brand-logo {
  width: 130px;
  margin: 0px 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition:         transform .2s ease-in-out;
}

.brand-logo:hover {
  -webkit-transform: rotate(-20deg) scale(1.1);
          transform: rotate(-20deg) scale(1.1);
}

.brand-logo:active {
  -webkit-transform: rotate(-15deg) scale(1.0);
          transform: rotate(-15deg) scale(1.0);
}

.el-menu {
  border-right: 0px !important;
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter, .page-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

button:focus {
  outline: none !important;
}

.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.about p {
  margin-left: 35px;
}

.el-menu-item-group__title {
  margin: 0px 0px;
  padding: 0px 0px;
}

.el-card {
  color: #ffffff;
  border: $item-border;
}

.el-card__header {
  background: $header-background;
  border-bottom: $item-border;
  color: $main-color;
}

.el-card__body {
  background: $item-background;
}

.el-table-expand {
  font-size: 0;
}

.el-table-expand label {
  width: 180px;
  color: #99a9bf;
}

.el-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}

.text-same-w {
  font-family: $same-width-family;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-background;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $info-color;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

::-webkit-scrollbar-corner {
  background: $main-background;
}

.el-dialog__wrapper.dialog-primary .el-dialog {
  border: 1px solid $info-color;
  border-radius: .3rem;
}

.el-dialog__wrapper.dialog-primary .el-dialog__header {
  background: $info-color;
}

.el-dialog__wrapper .el-dialog__title,
.el-dialog__wrapper .el-dialog__close,
.el-dialog__wrapper .el-dialog__header,
.el-dialog__wrapper .el-dialog__body,
.el-dialog__wrapper .el-dialog__footer,
.el-form-item__label,
.el-checkbox__label,
.el-radio__label {
  color: #ffffff;
}

.el-dialog__wrapper .el-dialog__footer{
  border-top: 1px solid $main-background;
}

.el-input__inner,
.el-textarea__inner {
  color: #e4e7ea;
  background-color: #515b65;
  border: 1px solid #23282c;
  border-radius: .25rem;
}

.el-intpu__inner:disabled,
.el-intpu__inner[readonly] {
  background-color: #3a4149;
  opacity: 1;
}

.el-switch__core {
  border-color: $main-background;
}

.el-switch__core:after {
  background: $item-background;
}

.el-table {
  background: $item-background !important;
  border: $item-border;
}

.el-table th {
  background: $header-background;
  color: #ffffff;
}

.el-table tr,
.el-table td,
.el-table__empty-block,
.el-table__body-wrapper {
  background: $item-background;
  color: #ffffff;
}

.el-table tr:hover > td {
  background-color: rgba(0,0,0,.075) !important;
}

.el-table .el-table__expand-icon {
  color: #ffffff;
}

.el-menu-item.is-active {
  color: $main-color;
}

.header-clock {
  position: fixed;
  bottom: 10px;
  left: 0px;
  font-size: 0.9em;
  width: 180px;
  z-index: 1200;
}