$main-color: #2eadd3;
$info-color: #0A76A4;
$main-background: #2f353a;
$header-background: #343b41;
$item-background: #3a4149;
$light-background: #73818f;
$item-border-color: #23282c;
$item-border: 1px solid #23282c;

$brand-font-family: 'Monoton', 'cursive';
$same-width-family: 'Ubuntu Mono', monospace;