@import url('https://fonts.googleapis.com/css?family=Monoton');

$main-color: #2eadd3;
$main-background: #2f353a;
$header-background: #343b41;
$item-background: #3a4149;
$light-background: #73818f;
$item-border: 1px solid #23282c;

$brand-font-family: "Monoton", "cursive";